@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


@import './tdmenu.css';
@import './footer.css';
@import './shakeheaddericon.css';


/* Base classes */

html{
    scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: black;
}

ul li{
  list-style-type: none;
}

/* -------------------------------------------------------------------------- */
/*                                    Font                                    */
/* -------------------------------------------------------------------------- */
 

.font1{
  font-family: 'Rubik Mono One', sans-serif;
}


.font2{
  font-family: 'Lobster', cursive;
}

.fsHero-1{font-size: 90px;}

.rel{
  position: relative;
}

.abso{
  position: absolute;
}


/* -----------------------------------------------------------------*/
 /* Altre classi */
  
    /* Padding */ 
  .padding-top1{
      padding-top: 500px;
  }
  
  .padding-top2{
    padding-top: 5%;
  }

  
  .text-al1{
    text-align: center !important;
  }

.b-r-10{
  border-radius: 10px;
}

.l-ht-2{line-height: 2;}

.img-res-1{width: 45%; height: auto; border-radius: 10%;}