

footer{
    color: #fff;
    background-image: linear-gradient(90deg,  #520A73 0%, #5A73DB 100%);
    position: relative;
    width: 100%;
    height: 25%;
    top:75%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;;
    font-size: 0.8rem;
  }

  .footer_title{
    width: 40%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 8px 10px 2px  #00D5FF;
    transition: linear 1s;
  }

  .footer_title:hover{
    box-shadow: 0 16px 20px 2px  #ED60AE;
    transition: linear 1s;
  }

  .main{
    margin-left: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(5, 1fr );
  }
  
  .office a{
    text-decoration: none;
    color: #98A8F8;
    
  }
  .office a:hover{
    color: #fff;
  }
  .num{
    font-size: 1rem;
    font-weight: 500;
  }
  
  .link-des{
    display: flex;
    flex-direction: column;
    gap:5px;
    font-size: 0.9rem;
  }
  
  .link-des *:hover{
    color: #FF9D6D; 
    transition: linear 0.3s;
  }
  
  .link-des a{
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
  }

  .link-des-1 a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  
  .link-des-1 a:hover{
    color: #FB2576;
    transition: linear 0.3s;
  }
  
  .link-des a:hover{
    color: #FB2576;
    transition: linear 0.3s;
  }

  .copyright{
    text-align: center;
  }
  
  hr{
    width: 90%;
    margin: 1px auto;
    opacity: 40%;
    border: 0.01px solid white;
    
  }
  
  .copyright p{
    padding: 5px;
  }

  .linkt{
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
  }

  linktimg:hover{
    filter: invert(1);
  }

  .linkt:hover{
    color: #FF9D6D; 
    transition: linear 0.3s;
  }
  
  .linkt2{
    text-decoration: none;
  }

  .linkt2:hover{
    color: #FF9D6D; 
    transition: linear 0.3s;
  }
  
  
  
  
  
  