/* Import Functions */
@use "sass:math";

/* Import Files */

@import './dustEffect.scss';
@import './planets.scss';
@import './glowing.scss';


/* Frontend Color Palette */
/* -----------------------------------------------------------------*/
/* Generic Gradient*/
$g-primary-color: #A75FC7;
$g-secondary-color: #ED60AE;
$g-tertiary-color: #FF758C;
$g-quaternary-color: #FF9D6D;
$g-fifth-color: #FFCB5E;
$g-sixth-color: #F9F871;

/* Matching Gradient */
$m-secondary-color: #5A73DB;
$m-tertiary-color: #0080DA;
$m-quaternary-color: #0086C4;
$m-fifth-color: #0087A1;
$m-sixth-color: #008478;

/* Spot Palette */
$sp-secondary-color: #C9A5D7;
$sp-tertiary-color: #FFE8FF;
$sp-quaternary-color: #5FBAB0;

/* Twisted Spot Palette */
$tw-secondary-color: #5FBAB0;
$tw-tertiary-color: #C2FCF4;
$tw-quaternary-color: #4A817A;

/* Cube Palette */
$cu-secondary-color: #557492;
$cu-tertiary-color: #D5CABD;

/* Grey Friends */
$gf-secondary-color: #4E4351;
$gf-tertiary-color: #B3A7B7;

/* Skip Shade Gradient */
$sk-secondary-color: #31A1FF;
$sk-tertiary-color: #00D5FF;
$sk-quaternary-color: #38FCEB;

/* Highlight */
$hg-secondary-color: #C39FD0;
$hg-tertiary-color: #FEFEDF;
$hg-quaternary-color: #D5CABD;

/* Friend */
$fr-secondary-color: #6A258A;
$fr-tertiary-color: #006B63;
$fr-quaternary-color: #5FBAB0;

/* Shades */
$sh-secondary-color: #8A44AA;
$sh-tertiary-color: #6E298E;
$sh-quaternary-color: #520A73;
$sh-fifth-color: #370058;

  /* -------------------------------------------------------------------------- */
  /*                             Bg color classes                               */
  /* -------------------------------------------------------------------------- */
  /* Generic Gradient*/
  .bg-g-primary-color{background-color: $g-primary-color;}
  .bg-g-secondary-color{background-color: $g-secondary-color;}
  .bg-g-tertiary-color{background-color: $g-tertiary-color;}
  .bg-g-quaternary-color{background-color: $g-quaternary-color;}
  .bg-g-fifth-color{background-color: $g-fifth-color;}
  .bg-g-sixth-color{background-color: $g-sixth-color;}

  /* Matching Gradient */
  .bg-m-secondary-color{background-color: $m-secondary-color;}
  .bg-tertiary-color{background-color: $m-tertiary-color;}
  
 /* -----------------------------Bg gradient----------------------------------- */
  .bg-c-navbar{background-color:  $sh-fifth-color;}
  .bg-c-jumbo-home{background: linear-gradient($sh-fifth-color, $gf-secondary-color);}
  .bg-c-home{background: linear-gradient($g-primary-color, white);}
  .bg-c-about{background: linear-gradient($sh-secondary-color, white);}
  


  /* -------------------------------------------------------------------------- */
  /*                                Other classes                               */
  /* -------------------------------------------------------------------------- */
 

  .box-shadow0{
    box-shadow: 10px 15px 20px $g-secondary-color;
  }

  .box-shadow1{
    box-shadow: 0 5px 20px 2px $g-primary-color;
  }
  
  