.shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    -webkit-animation: shake 0.3s;
    animation: shake 0.3s;
    animation-iteration-count: 5;
    animation-delay: 10s;
  }
  
  @keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }

